Repository austery/sparsemap: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest, bun-test

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.0
    hooks:
      - id: ruff
        args: [ --fix ]
      - id: ruff-format

  - repo: https://github.com/biomejs/pre-commit
    rev: v0.3.0
    hooks:
      - id: biome-check
        additional_dependencies: ["@biomejs/biome@1.9.4"]
        args: [ --write ]

  - repo: local
    hooks:
      - id: pytest
        name: ğŸ Backend Tests (Python)
        entry: uv run pytest
        language: system
        types: [python]
        stages: [push] # åªåœ¨ push æ—¶è¿è¡Œï¼Œé¿å…é¢‘ç¹ commit å˜æ…¢
        pass_filenames: false

      - id: bun-test
        name: ğŸ¥Ÿ Frontend Tests (JS)
        entry: bun test
        language: system
        files: \.(js|ts)$
        stages: [push]
        pass_filenames: false

feat: add .env.example for project configuration and make graph layout direction dynamic.
  .env.example
  static/js/graph.js
Due: bun-test

docs: add feature comparison document
  docs/FEATURE_COMPARISON.md
Due: none

docs: Overhaul project documentation, update environment sample, and remove legacy inspection scripts.
  .env.example
  .env.sample
  AGENTS.md
  README.md
  docs/DEEPSEEK_FIX.md
  docs/LLM_PROVIDER_GUIDE.md
  docs/PROMPT_TEST_GUIDE.md
  inspect_config.py
  inspect_genai.py
  inspect_http_options.py
Due: pytest

feat: introduce new Pydantic models for history, URL input, node details, and concept integration APIs
  migrations/env.py
  migrations/versions/57055332f100_add_title_url_sourcetype_to_.py
  migrations/versions/aedd18522d9b_initial_schema_with_analysisresult_table.py
  src/sparsemap/api/app.py
  src/sparsemap/api/routes/analyze.py
  src/sparsemap/domain/__init__.py
  src/sparsemap/domain/models.py
  src/sparsemap/services/extractor.py
  src/sparsemap/services/llm.py
  src/sparsemap/services/llm_provider.py
  src/sparsemap/services/llm_utils.py
  src/sparsemap/services/providers/__init__.py
  src/sparsemap/services/providers/deepseek.py
  src/sparsemap/services/providers/gemini.py
  src/sparsemap/services/repository.py
  tests/unit/domain/test_models.py
  tests/unit/services/test_llm_utils.py
  verification/verify_frontend_fix.py
Due: pytest

fix: Escape node count in UI and encode history item IDs in API requests.
  static/js/api.js
  static/js/ui.js
Due: bun-test

style: Format deleteHistoryItem function for improved readability
  static/js/api.js
Due: bun-test

feat: add export functionality and enhance state management
  pyproject.toml
  src/sparsemap/api/routes/analyze.py
  src/sparsemap/services/exporter.py
  static/index.html
  static/js/api.js
  static/js/exporter.js
  static/js/main.js
  static/js/state.js
  static/style.css
  tests/frontend/exporter.test.js
  tests/frontend/state.test.js
  tests/unit/services/test_exporter.py
  uv.lock
Due: pytest, bun-test

feat: implement node embedding functionality and expand node capabilities
  migrations/versions/0e7ab7b15f5e_add_node_embedding_table.py
  src/sparsemap/api/routes/analyze.py
  src/sparsemap/domain/models.py
  src/sparsemap/services/embedding.py
  src/sparsemap/services/llm.py
  static/js/api.js
  static/js/graph.js
  static/js/main.js
  static/js/ui.js
  static/style.css
Due: pytest, bun-test

feat: implement graph editing features including add, update, and delete nodes, and enhance state management for unsaved changes
  src/sparsemap/api/routes/analyze.py
  static/index.html
  static/js/api.js
  static/js/graph.js
  static/js/main.js
  static/js/state.js
  static/style.css
  tests/frontend/state.test.js
Due: pytest, bun-test

feat: Add `NodeEmbedding` model and migration for storing node embeddings using `pgvector`.
  migrations/versions/0e7ab7b15f5e_add_node_embedding_table.py
  src/sparsemap/domain/models.py
  src/sparsemap/services/exporter.py
  src/sparsemap/services/llm.py
  tests/unit/services/test_exporter.py
Due: pytest

feat: Consolidate graph export logic to use API for saved analyses and unify clipboard/download handling.
  static/js/api.js
  static/js/graph.js
  static/js/main.js
  static/js/state.js
  static/js/ui.js
Due: bun-test

feat: offload node embedding storage to background tasks for analyze and add-url endpoints
  src/sparsemap/api/routes/analyze.py
Due: pytest
